doctype html
html(lang="en")
    head
        link(type='text/css', rel='stylesheet', href='/site.css')
        title SmartGecko device activation
    body
        h1 SmartGecko device activation
        h1 Activation code: #{data.activationCode}