doctype html
html(lang="en")
    head
        link(type='text/css', rel='stylesheet', href='/site.css')
        title SmartGecko Accounts - Confirmation
    body
        h1 SmartGecko Accounts - Confirmation.
        b
        a(href='http://accounts.smartgecko.eu/profile/confirmation/#{data.hash}') Confirmation link
